body{
  box-sizing: border-box;
  background-color: rgb(121, 121, 121);
}
.canvas-box {
  position: absolute;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1800px;
  height: 500px;
  left: 0px;
  top: -500px;
}
.frame {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid white;
}